<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcohy.scis.mapper.BkConfigMapper">
  <resultMap id="BaseResultMap" type="com.jcohy.scis.model.BkConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="config_type" jdbcType="VARCHAR" property="configType" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="zh_name" jdbcType="VARCHAR" property="zhName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>

  <sql id="Base_Column_List">
    id, config_type, code, zh_name, add_time, update_time, is_delete
  </sql>

  <select id="queryConfig"  parameterType="com.jcohy.scis.model.BkConfigReq"  resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
      bk_config a
    WHERE 1 = 1
      AND a.`is_delete` = 0
      <if test="id != null">
        AND a.`id` = #{id,jdbcType=INTEGER}
      </if>
      <if test="configType != null">
        AND a.`config_type` = #{configType,jdbcType=VARCHAR}
      </if>
      <if test="code != null">
        AND a.`code` =  #{code,jdbcType=INTEGER}
      </if>
  </select>

  <insert id="insertOrUpdate" parameterType="com.jcohy.scis.model.BkConfigReq">
    replace into bk_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="configType != null">
        config_type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="zhName != null">
        zh_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="configType != null">
        #{config_type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="zhName != null">
        #{zh_name,jdbcType=VARCHAR0},
      </if>
    </trim>
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from bk_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>