<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcohy.scis.mapper.BkProductMapper">
    <resultMap id="BaseResultMap" type="com.jcohy.scis.model.BkProductVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="product_type" jdbcType="INTEGER" property="productType" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="show_path" jdbcType="VARCHAR" property="showPath" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="html_num" jdbcType="INTEGER" property="htmlNum" />
        <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
        <result column="product_synopsis" jdbcType="VARCHAR" property="productSynopsis" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="add_time" jdbcType="VARCHAR" property="addTime" />
        <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id, product_id, product_type, product_name, show_path, price, html_num, product_desc,
        product_synopsis, remark, add_time, update_time, is_delete
    </sql>

    <select id="selectByCondition" parameterType="com.jcohy.scis.model.BkProductReq" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
          from bk_product
          where 1 = 1
        <if test="productId != null">
            AND product_id = #{productId,jdbcType=INTEGER}
        </if>
        ORDER BY update_time DESC
    </select>
</mapper>