<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcohy.scis.mapper.BkProductMapper">
    <resultMap id="BkProductVo" type="com.jcohy.scis.model.BkProductVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="product_type" jdbcType="INTEGER" property="productType" />
        <result column="product_theme" jdbcType="VARCHAR" property="productTheme" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="show_path" jdbcType="VARCHAR" property="showPath" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="html_num" jdbcType="INTEGER" property="htmlNum" />
        <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
        <result column="product_synopsis" jdbcType="VARCHAR" property="productSynopsis" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="add_time" jdbcType="VARCHAR" property="addTime" />
        <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="link_code" jdbcType="VARCHAR" property="linkCode" />
    </resultMap>

    <sql id="Base_Column_List">
        id, product_id, product_type, product_theme,product_name, show_path, price, html_num, product_desc,
        product_synopsis, remark, add_time, update_time, is_delete,link,link_code
    </sql>

    <select id="selectByCondition" parameterType="com.jcohy.scis.model.BkProductReq" resultMap="BkProductVo">
        select
          <include refid="Base_Column_List" />
          from bk_product
          where (0 = 0)
        <if test="productId != null">
            AND product_id = #{productId,jdbcType=INTEGER}
        </if>
        <if test="id != null">
            AND id = #{id,jdbcType=INTEGER}
        </if>
        ORDER BY update_time DESC
    </select>

    <select id="getMaxProductId" parameterType="com.jcohy.scis.model.BkProductReq" resultMap="BkProductVo">
        SELECT product_id FROM bk_product ORDER BY product_id DESC LIMIT 1
    </select>

    <insert id="insert" parameterType="com.jcohy.scis.model.BkProductReq">
        insert into bk_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="productTheme != null">
                product_theme,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="showPath != null">
                show_path,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="htmlNum != null">
                html_num,
            </if>
            <if test="productDesc != null">
                product_desc,
            </if>
            <if test="productSynopsis != null">
                product_synopsis,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="linkCode != null">
                link_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=INTEGER},
            </if>
            <if test="productTheme != null">
                #{productTheme,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="showPath != null">
                #{showPath,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="htmlNum != null">
                #{htmlNum,jdbcType=INTEGER},
            </if>
            <if test="productDesc != null">
                #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="productSynopsis != null">
                #{productSynopsis,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="link != null">
                #{link,jdbcType=VARCHAR},
            </if>
            <if test="linkCode != null">
                #{linkCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from bk_product
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.jcohy.scis.model.BkProductReq">
        update bk_product
        <set>
            <if test="productType != null">
                product_type = #{productType,jdbcType=INTEGER},
            </if>
            <if test="productTheme != null">
                product_theme = #{productTheme,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="showPath != null">
                show_path = #{showPath,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="htmlNum != null">
                html_num = #{htmlNum,jdbcType=INTEGER},
            </if>
            <if test="productDesc != null">
                product_desc = #{productDesc,jdbcType=VARCHAR},
            </if>
            <if test="productSynopsis != null">
                product_synopsis = #{productSynopsis,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="link != null">
                link = #{link,jdbcType=VARCHAR},
            </if>
            <if test="linkCode != null">
                link_code = #{linkCode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>